.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width:600px;
    margin:20vh auto;
    border-radius: 20px;
    box-shadow: 0 0 10px #D988B9;
}
.signup form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.signup h1{
    font-size: 30px;
    color: #D988B9;
    margin-bottom: 20px;
}